/* Some styling borrowed from tachyons */
/* https://tachyons.io/docs/table-of-styles/ */
/* https://github.com/tachyons-css/tachyons-custom */
/* https://github.com/tachyons-css/tachyons/blob/main/src/_colors.css */

.Forms {
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 1em;
  text-align: left;

  /* default: small screen */
  /* w-100 */
  width: 100%;
  /*background-color: yellow;*/
}

/* Medium screen */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .Forms {
    /* w-50-m */
    width: 50%;
    /*background-color: orange;*/
  }
}

/* large screen */
@media screen and (min-width: 60em) {
  .Forms {
    /* w-25-l */
    width: 25%;
    /*background-color: red;*/
  }
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

.register-link-div {
  /* lh-copy */
  line-height: 1.5;
  /* mt3 */
  margin-top: 1rem;
  /* pointer */
  cursor: pointer;
  /* grow - this isn't working, presumably conflicts with bootstrap? */
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.register-link {
  /* f6 */
  font-size: .875rem;

  /* link - not working? */
  text-decoration: none;
  transition: color .15s ease-in;

  /* dim - not working */
  opacity: 1;
  transition: opacity .15s ease-in;

  /* black */
  color: #000;

  /* db */
  display: block;
}
